.header{

}

.header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
}

.breadcrumb{
    height: 40px;
    line-height: 40px;
    padding-right:0 20px;
    border-top: 2px solid #f9c700;
    text-align: right;
}

.breadcrumb-title{
    height: 40px;
    line-height: 40px;
    padding-right:0 20px;
    text-align: right;
}

.weather{
    text-align: right;
    padding: 0 20px;
}
