.header{
    background-color: white;
}

.header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
}

.breadcrumb{
    height: 40px;
    line-height: 40px;
    padding-right:0 20px;
    border-top: 2px solid #f9c700;
    text-align: right;
}

.breadcrumb-title{
    height: 40px;
    line-height: 40px;
    padding-right:0 20px;
    text-align: center;
    font-size: 16px;

}

.breadcrumb-title:after{
    position: absolute;
    content: "";
    left: 90px;
    top: 38px;
    border-top: 9px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
}

.weather{
    text-align: right;
    padding: 0 20px;
}

.date{
        margin-right: 10px;
}